{% extends 'base.html' %}
{% load mathfilters %}

{% block masterhead %}
    <h1>{{ char.name }}</h1>
{% endblock %}

{% block body %}
    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <h5>Basic Info</h5>
            <hr class="my-2">
            <div class="d-flex justify-content-between small">
                <span class="font-weight-bold">ID</span>
                <span>{{ char.char_id }}</span>
            </div>
            <div class="d-flex justify-content-between small">
                <span class="font-weight-bold">Job</span>
                <span>{{ char.get_job_name }}</span>
            </div>
            <div class="d-flex justify-content-between small">
                <span class="font-weight-bold">Status</span>
                <span>
                    {% if char.online == 0 %}
                        <span class="badge badge-danger">Offline</span>
                    {% else %}
                        <span class="badge badge-success">Online</span>
                    {% endif %}
                </span>
            </div>
            <div class="d-flex justify-content-between small">
                <span class="font-weight-bold">Zeny</span>
                <span>{{ char.zeny }}</span>
            </div>
            <div class="d-flex justify-content-between small">
                <span class="font-weight-bold">Slot</span>
                <span>{{ char.char_num }}</span>
            </div>
            {% if char.pet_id %}
                <div class="d-flex justify-content-between small">
                    <span class="font-weight-bold">Pet</span>
                    <span>{{ char.pet_id }}</span>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar"
                             style="width: {{ char.hp|div:char.max_hp|mul:100 }}%" aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100">HP
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar"
                             style="width: {{ char.sp|div:char.max_sp|mul:100 }}%" aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100">SP
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <h5>Leveling</h5>
            <hr class="my-2">
            <div class="d-flex justify-content-between small">
                <span class="font-weight-bold">Levels</span>
                <span>{{ char.base_level }}/{{ char.job_level }}</span>
            </div>
            <div class="d-flex justify-content-between small">
                <span class="font-weight-bold">Base Experience</span>
                <span>{{ char.base_exp }}</span>
            </div>
            <div class="d-flex justify-content-between small">
                <span class="font-weight-bold">Job experience</span>
                <span>{{ char.job_exp }}</span>
            </div>
        </div>
    </div>

    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <h5>Location</h5>
            <hr class="my-2">
        <div class="d-flex justify-content-between small">
                <span class="font-weight-bold">Now</span>
                <span>{{ char.last_map }} ({{ char.last_x }}, {{ char.last_y }})</span>
            </div>
            <div class="d-flex justify-content-between small">
                <span class="font-weight-bold">Respawn</span>
                <span>{{ char.save_map }} ({{ char.save_x }}, {{ char.save_y }})</span>
            </div>
        </div>
    </div>


    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <h5>Stats</h5>
            <hr class="my-2">
            <div class="row">
                <div class="col-sm-2"><b>STR</b></div>
                <div class="col-sm-2">{{ char.str }}</div>
                <div class="col-sm-2"><b>AGI</b></div>
                <div class="col-sm-2">{{ char.agi }}</div>
                <div class="col-sm-2"><b>VIT</b></div>
                <div class="col-sm-2">{{ char.vit }}</div>
            </div>
            <div class="row">
                <div class="col-sm-2"><b>INT</b></div>
                <div class="col-sm-2">{{ char.int }}</div>
                <div class="col-sm-2"><b>DEX</b></div>
                <div class="col-sm-2">{{ char.dex }}</div>
                <div class="col-sm-2"><b>LUK</b></div>
                <div class="col-sm-2">{{ char.luk }}</div>
            </div>
            <hr class="my-2">
            <div class="d-flex justify-content-between small">
                <span class="font-weight-bold">Unused Status Points</span>
                <span>{{ char.status_point }}</span>
            </div>
            <div class="d-flex justify-content-between small">
                <span class="font-weight-bold">Unused Skill Points</span>
                <span>{{ char.skill_point }}</span>
            </div>
        </div>
    </div>

    {% if char.party_id or char.guild_id or char.party_id or char.child %}
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <h5>Family and Community</h5>
                <hr class="my-2">
                {% if char.partner_id %}
                    <div class="d-flex justify-content-between small">
                        <span class="font-weight-bold">Partner</span>
                        <span>{{ char.partner_id }}</span>
                    </div>
                    <div class="d-flex justify-content-between small">
                        <span class="font-weight-bold">Child</span>
                        <span>{{ char.child }}</span>
                    </div>
                {% elif char.mother and char.father %}
                    <div class="d-flex justify-content-between small">
                        <span class="font-weight-bold">Mother</span>
                        <span>{{ char.mother }}</span>
                    </div>
                    <div class="d-flex justify-content-between small">
                        <span class="font-weight-bold">Father</span>
                        <span>{{ char.father }}</span>
                    </div>
                {% endif %}
                {% if char.party_id %}
                    <div class="d-flex justify-content-between small">
                        <span class="font-weight-bold">Party</span>
                        <span>{{ char.party_id }}</span>
                    </div>
                {% endif %}
                {% if char.guild_id %}
                    <div class="d-flex justify-content-between small">
                        <span class="font-weight-bold">Guild</span>
                        <span>{{ char.guild_id }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if char.homun_id or char.pet_id %}
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <h5>Company</h5>
                <hr class="my-2">
                {% if char.pet_id %}
                    <div class="d-flex justify-content-between small">
                        <span class="font-weight-bold">Pet</span>
                        <span>{{ char.pet_id }}</span>
                    </div>
                {% endif %}
                {% if char.homun_id %}
                    <div class="d-flex justify-content-between small">
                        <span class="font-weight-bold">Homunculus</span>
                        <span>{{ char.homun_id }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% include '_char_options.html' %}
{% endblock %}