<div class="row">
    <div class="col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <div class="d-flex justify-content-between small">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12"
                                 style="text-align: center;">
                                <img width="32px" height="32px"
                                     src="{{ post.author.gravatar_url }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"
                                 style="text-align: center;">
                                <span class="font-weight-bold">{{ post.author.username }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"
                                 style="text-align: center;">
                                <span>{{ post.added }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        {% if post.parent == None %}
                            <span>{{ post.content | safe }}</span>
                        {% else %}
                            <span>{{ post.content | linebreaks }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>