{% load humanize %}
<div class="row">
    <div class="col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <div class="d-flex justify-content-between small">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12"
                                 style="text-align: center;">
                                <img width="32px" height="32px"
                                     src="{{ post.author.gravatar_url }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"
                                 style="text-align: center;">
                                <span class="font-weight-bold">{{ post.author.username }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"
                                 style="text-align: center;">
                                <span>{{ post.added | naturaltime }}</span>
                            </div>
                        </div>
                        {% if request.user.is_staff %}
                            <div class="row">
                                <a href="{% url 'content:delete_post' post.id %}">
                                    <button type="button"
                                            class="btn btn-sm btn-block btn-outline-secondary">
                                        <i class="em em-file_cabinet"
                                           aria-role="presentation"
                                           aria-label=""></i>
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        {% if post.parent == None %}
                            <span>{{ post.content | safe }}</span>
                        {% else %}
                            <span>{{ post.content | linebreaks }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>