{% extends 'base.html' %}

{% block masterhead %}
    <h1>Post details</h1>
    <h5>{{ post.title }}</h5>
{% endblock %}

{% block body %}
    {% include 'post.html' %}

    {% if responses %}
        <h1 style="color: #ffffff; text-shadow: 2px 2px 2px #000000;">
            Responses</h1>
        {% for post in responses %}
            {% include 'post.html' %}
        {% endfor %}
    {% else %}
        <header class="jumbotron subhead" id="overview">
            <h1>:(</h1>
            <h3>No responses</h3>
            <p class="lead">
                Nobody has written something... (yet)
                <i class="em em-wind_blowing_face" aria-role="presentation"
                   aria-label=""></i>
                <i class="em em-leaves" aria-role="presentation"
                   aria-label="LEAF FLUTTERING IN WIND"></i>
            </p>
        </header>
    {% endif %}
    {% if request.user.is_authenticated %}
        <h1 style="color: #ffffff; text-shadow: 2px 2px 2px #000000;">
            Respond</h1>
        <div class="row">
            <div class="col-md-12">
                {% include 'form_template.html' %}
            </div>
        </div>
    {% endif %}
{% endblock %}