{% extends 'base.html' %}

{% block masterhead %}
    <h1>Service Desk</h1>
    <h2>Details of {{ ticket.subject }}</h2>
{% endblock %}
{# TODO: add buttons to change ticket status to closed, etc #}
{% block body %}
    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <h2>
                <i class="em em-spiral_note_pad" aria-role="presentation" aria-label=""></i>
                 {{ ticket.subject }}
            </h2>
            <span>
                <i class="em em-spiral_calendar_pad" aria-role="presentation" aria-label=""></i>
                {{ ticket.created }}
            </span>
            <hr class="my-2">
            <p>
                {{ ticket.body }}
            </p>
            <hr class="my-2">

            <div class="d-flex justify-content-between small">
                <span class="font-weight-bold"><i class="em em-bell" aria-role="presentation" aria-label="BELL"></i> Status</span>
                <span>
                        {% if ticket.latest_reply.response_needed and ticket.latest_reply.created_by != request.user %}
                            Support is waiting for your response
                        {% elif ticket.latest_reply.response_needed and ticket.latest_reply.created_by == request.user %}
                            Waiting response of support team
                        {% else %}
                            {{ ticket.state_str }}
                        {% endif %}
                        </span>
            </div>

            <div class="d-flex justify-content-between small">
                <span class="font-weight-bold">
                    <i class="em em-mage" aria-role="presentation" aria-label="MAGE"></i>
                    ️ Ticket Summoner</span>
                <span>
                {{ ticket.created_by }}
            </span>
            </div>
        </div>
    </div>

    {% if responses %}
        <h1 style="color: #ffffff;">Messages</h1>
        {% for response in responses %}
            <div class="card border-0 shadow mb-4">
                <div class="card-body">
                    <h3>
                        {% if response.created_by.sex == 'M' %}
                            <i class="em em-blond-haired-man" aria-role="presentation" aria-label=""></i>
                        {% elif response.created_by.sex == 'F' %}
                            <i class="em em-blond-haired-woman" aria-role="presentation" aria-label=""></i>
                        {% else %}
                            <i class="em em-robot_face" aria-role="presentation" aria-label="ROBOT FACE"></i>
                        {% endif %}
                         {{ response.created_by.username }}
                    </h3>
                    <i class="em em-spiral_calendar_pad" aria-role="presentation" aria-label=""></i> {{ response.created }}
                    <hr class="my-2">

                    <p>
                        {{ response.body }}
                    </p>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <h1 style="color: #ffffff;">Write something</h1>
    <div class="row">
        <div class="col-md-12">
            {% include 'form_template.html' %}
        </div>
    </div>
{% endblock %}