{% extends 'base.html' %}

{% block masterhead %}
    <h1>RagCP Changelog</h1>
    <h2>Viewing detailed list of updates</h2>
{% endblock %}

{% block body %}

    {% if commits %}

        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                {% for commit in commits %}
                    <div class="row">
                        <div class="col-md-12">
                            <pre style="font-size: 12px!important; font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace; margin-bottom: 0px; margin-top: 1em;">{{ commit.message }}</pre>
                            <div class="d-flex flex-items-center mt-1">
                                <img src="{{ commit.avatar }}" height="24px">
                                <div style="font-size: 12px!important;">
                                    <a href="{{ commit.url }}">
                                        {{ commit.username }}
                                    </a>
                                    {{ commit.date }}
                                </div>
                            </div>
                            <hr class="my-2">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        There are no commits
    {% endif %}

{% endblock %}