{% load i18n %}

<ul class="nav navbar-nav navbar-left">


    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        {% if request.user.is_authenticated %}
            {{ user.username }}
        {% else %}
            Account
        {% endif %}
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
        <!-- User Menu -->
        {% if request.user.is_authenticated %}
            <!-- Staff Admin button -->
            {% if request.user.is_staff %}
                <a class="dropdown-item" href="{% url THEME_ADMIN_URL|default:"admin:index" %}"><i
                        class="fa fa-cog"></i>
                    <button type="button"
                            class="btn btn-secondary btn-sm btn-block">{% trans "Administrar" %}</button>
                </a>
            {% endif %}

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="account_logout" href="{% url "users:logout" %}"><i
                    class="fa fa-power-off"></i>
                <button type="button" class="btn btn-danger btn-sm btn-block">{% trans "Log out" %}</button>
            </a>
            </div>

            <!-- Guest menu -->
        {% else %}
            <a class="dropdown-item" href="{% url "login" %}">
                <button type="button" class="btn btn-secondary btn-sm btn-block">{% trans "Log in" %}</button><i
                    class="fa fa-user"></i>
            </a>
            <a class="dropdown-item" href="{% url 'users:signup' %}">
                <button type="button" class="btn btn-success btn-sm btn-block">{% trans "Sign up" %}</button><i
                    class="fa fa-user"></i>
            </a>
        {% endif %}
    {% comment %}
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a href="{% url "account_signup" %}">{% trans "Sign up" %}</a></li>
        {% endif %}
        {% endcomment %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url "logout" %}" method="POST">
    {% csrf_token %}
</form>