<li class="nav-item">
    <a class="nav-link" href="{% url 'servicedesk:tickets' %}">Support 👨🏻‍💻<span
            class="sr-only"></span></a>
</li>
<!-- Dropdown menu -->
{% comment %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        Database 💾
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#nogo" aria-disabled="true">Items 🎒</a>
        <a class="dropdown-item" href="#nogo" aria-disabled="true">Monster 🐼</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#nogo" aria-disabled="true">Something else</a>
    </div>
</li>
{% endcomment %}