<li class="nav-item">
    <a class="nav-link" href="{% url 'servicedesk:tickets' %}">
        <i class="em em-male-technologist" aria-role="presentation"
           aria-label=""></i>
        Support<span class="sr-only"></span></a>
</li>
<!-- Dropdown menu -->
{% comment %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        Database <i class="em em-floppy_disk" aria-role="presentation" aria-label="FLOPPY DISK"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#nogo" aria-disabled="true"><i class="em em-school_satchel" aria-role="presentation" aria-label="SCHOOL SATCHEL"></i> Items</a>
        <a class="dropdown-item" href="#nogo" aria-disabled="true"><i class="em em-bird" aria-role="presentation" aria-label="BIRD"></i> Monster</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#nogo" aria-disabled="true">Something else</a>
    </div>
</li>
{% endcomment %}