<!DOCTYPE html>
<html lang="en">
<head>
    <!--

    WE'RE SO COOL THAT YOU WANT TO SEE OUR SOURCE CODE...

    -->
    <meta charset="UTF-8">
    <title>{% block title %}RagCP{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ragcp.css' %}">
</head>

<body style="background-image: url('{{ STATIC_URL }} /static/main-bg-clean.jpg');background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;">

<!-- Parallax header banner and logo -->

<div class="pre-parallax">
    <div class="parallax">
        <div class="container w-100 h-100">
            <div class="row  align-items-center h-100 justify-content-center text-lg-center">
                <div class="col-md">
                    <img src="{% static 'logo.png' %}" width="300px"><br>
                    <span style="color: #ffffff">Since 2016</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Navigation Bar -->

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#nogo">RagCP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'login_user' %}">Login</a>
                        <a class="dropdown-item" href="{% url 'logout_user' %}">Logout</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- Site Content -->

{% block body_base %}
    <main role="main" class="container">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            {% comment %}
            {% include "_messages.html" %}
            {% endcomment %}
            <div class="container justify-content-md-center">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </main>
{% endblock %}

</body>
</html>
