{% load static %}
{% load mathfilters %}

<div class="card border-0 shadow mb-4 text-center">
    <div class="card-body">
        {% if request.user.is_authenticated %}
            {% if request.user.gravatar_url %}
                <img src="{{ request.user.gravatar_url }}">
            {% else %}
                <img src="
                        {% static 'avatar/' %}{{ request.user.id|mod:6 }}.jpg">
            {% endif %}
            <div class="small mb-2 font-weight-bold">
                {{ request.user.username }}
            </div>
            {% include 'navigation_account.html' %}
        {% else %}
            {% include 'navigation_account.html' %}
        {% endif %}
    </div>
</div>

{% block rightmenu %}
{% endblock %}