<!DOCTYPE html>
<html lang="en">
{% load mathfilters %}
<head>
    <!--

    WE'RE SO COOL THAT YOU WANT TO SEE OUR SOURCE CODE...

    -->
    <meta charset="UTF-8">
    <title>{% block title %}RagCP{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ragcp.css' %}">
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
</head>

<body style="background-image: url('{{ STATIC_URL }} /static/main-bg-clean.jpg');background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;">

<!-- Parallax header banner and logo -->

<div class="pre-parallax">
    <div class="parallax">
        <div class="container w-100 h-100">
            <div class="row  align-items-center h-100 justify-content-center text-lg-center">
                <div class="col-md">
                    <img src="{% static 'logo.png' %}" width="300px"><br>
                    <span style="color: #ffffff">Since 2016</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Navigation Bar -->

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#nogo">RagCP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}"><i class="em em-house_with_garden"
                                                                    aria-role="presentation"
                                                                    aria-label="HOUSE WITH GARDEN"></i> Home<span
                            class="sr-only"></span></a>
                </li>

                {% if request.user.is_authenticated %}
                    {% block ragnarok_bar %}{% include "_ragnarok_bar.html" %}{% endblock %}
                {% endif %}

                {% comment %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                {% endcomment %}
            </ul>
        </div>
    </nav>
</div>

<!-- Site Content -->

{% block body_base %}

    <header class="masthead masthead-page mb-5"
            style="background-image: url('{% static 'head.jpg' %}'); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 py-5" style="color: #ffffff; text-shadow: 2px 2px 2px #000000;">
                    {% block masterhead %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </header>

    <main role="main" class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-8">


                    <div class="container justify-content-md-center">
                        {% block body %}
                        {% endblock %}
                    </div>


                </div>
                <div class="col-md-4">
                    <div class="card border-0 shadow mb-4 text-center">
                        <div class="card-body">
                            {% if request.user.is_authenticated %}
                                {% if freshchat %}
                                    <img src="{{ freshchat.persona.gravatar_url }}">
                                {% else %}
                                    <img src="{% static 'avatar/' %}{{ request.user.id|mod:6 }}.jpg">
                                {% endif %}
                                <div class="small mb-2 font-weight-bold">
                                    {{ request.user.username }}
                                </div>
                                {% include '_account_bar.html' %}
                            {% else %}
                                {% include '_account_bar.html' %}
                            {% endif %}
                        </div>
                    </div>

                    {% if request.user.is_staff %}
                        <div class="card border-0 shadow mb-4 text-center">
                            <div class="card-body">
                                <h5>Change history:</h5>
                                <div class="small mb-2 font-weight-bold">Review CP history of changes.
                                </div>
                                <a href="#nogo">
                                    <button type="button" class="btn btn-sm btn-primary">Changelog</button>
                                </a>
                            </div>
                        </div>
                    {% endif %}

                    {% block rightbar %}
                    {% endblock %}

                </div>
            </div>
    </main>
{% endblock %}

</body>
</html>
