<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row justify-content-md-center">
        <header class="jumbotron subhead" id="overview" style="padding-left: 6rem; padding-right: 6rem; padding-top: 1rem; padding-bottom: 1rem;">

        <!-- Label - Text pairs -->
            {% for field in form %}
                <div class="row justify-content-md-left">
                    <label class="col-sm-4 col-form-label col-form-label-sm">{{ field.label_tag }}</label>
                    <div class="col-8"> {{ field }}</div>
                </div>
            {% endfor %}

        <!-- Extra text to show -->
            {% if notes %}
                <div class="col-12">
                    {% for note in notes %}
                        <div class="alert alert-info" role="alert">
                            {{ note }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        <!-- Display errors if any -->
            {% for field in form %}
                {% if field.errors %}
                    <div class="col-sm-offset-2">
                        <span class="text-danger small">{{ field.errors }}</span>
                    </div>
                {% endif %}
            {% endfor %}
            <hr>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-success">Send</button>
                </div>
            </div>
        </header>
    </div>
</form>