{% extends 'base.html' %}
{% load humanize %}

{% block masterhead %}
    <h1>Welcome</h1>
{% endblock %}

{% block body %}
    {% if request.user.is_authenticated and request.user.is_staff %}
        <a href="{% url 'content:new_entry' %}">
            <button type="button" class="btn btn-sm btn-block btn-secondary"
                    style="margin-bottom: 5px;">
                <i class="em em-lower_left_ballpoint_pen"
                   aria-role="presentation" aria-label=""></i>
                Create new post
            </button>
        </a>
        <a href="{% url 'content:get_feed' %}">
            <button type="button" class="btn btn-sm btn-block btn-secondary"
                    style="margin-bottom: 5px;">
                <i class="em em-satellite" aria-role="presentation"
                   aria-label=""></i>
                Fetch from RSS Feed
            </button>
        </a>
    {% endif %}
    {% if posts %}
        {% for post in posts %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card border-0 shadow mb-4">
                        <div class="card-body">
                            <div class="d-flex justify-content-between small">
                                <div class="col-md-3">
                                    <div class="row">
                                        <div class="col-md-12"
                                             style="text-align: center;">
                                            <img width="32px" height="32px"
                                                 src="{{ post.author.gravatar_url }}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12"
                                             style="text-align: center;">
                                            <span class="font-weight-bold">{{ post.author.username }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12"
                                             style="text-align: center;">
                                            <span>{{ post.added | naturaltime }}</span>
                                        </div>
                                    </div>
                                    {% if request.user.is_staff %}
                                        <div class="row">
                                            <a href="{% url 'content:delete_post' post.id %}">
                                                <button type="button"
                                                        class="btn btn-sm btn-block btn-outline-secondary">
                                                    <i class="em em-file_cabinet"
                                                       aria-role="presentation"
                                                       aria-label=""></i>
                                                </button>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        {% if post.reference %}
                                            <a href="{{ post.reference }}">
                                                <h5>
                                                    {{ post.title }}
                                                </h5>
                                            </a>
                                        {% else %}
                                            <h5>{{ post.title }}</h5>
                                        {% endif %}
                                        <hr class="my-2">
                                    </div>
                                    <div class="row">
                                        <span>{{ post.content | safe }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="{% url 'content:view_responses' post.id %}">
                                        <button type="button"
                                                class="btn btn-sm btn-block btn-outline-secondary">{{ post.num_responses }}
                                            responses
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    {% else %}
        {% include 'welcome_content.html' %}
    {% endif %}
{% endblock %}
