{% extends 'base.html' %}
{% block albums_active %}active{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <h1>Hello, title</h1>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>
        <div class="row">
            <p>Hello, content</p></div>


    </div>
{% endblock %}
