<!-- Navigation Bar -->

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#nogo">RagCP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}"><i
                            class="em em-house_with_garden"
                            aria-role="presentation"
                            aria-label="HOUSE WITH GARDEN"></i> Home<span
                            class="sr-only"></span></a>
                </li>

                {% if request.user.is_authenticated %}
                    {% block ragnarok_bar %}
                        {% include "navigation_ragnarok.html" %}{% endblock %}
                {% endif %}

                {% if CHANGELOG_ENABLED %}
                    {% include 'navigation_changelog.html' %}
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'servicedesk:tickets' %}">
                        <i class="em em-male-technologist"
                           aria-role="presentation"
                           aria-label=""></i>
                        Support<span class="sr-only"></span></a>
                </li>

            </ul>
        </div>
    </nav>
</div>