<!-- Database -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="databaseDropdown"
       role="button"
       data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        <i class="em em-books" aria-role="presentation" aria-label="BOOKS"></i>
        Database
    </a>
    <div class="dropdown-menu" aria-labelledby="databaseDropdown">
        <a class="dropdown-item disabled" href="#nogo" aria-disabled="true">
            <i class="em em-school_satchel" aria-role="presentation"
               aria-label="SCHOOL SATCHEL"></i>
            Items
        </a>
        <a class="dropdown-item disabled" href="#nogo" aria-disabled="true">
            <i class="em em-bird" aria-role="presentation"
               aria-label="BIRD"></i>
            Monster
        </a>
{#        <div class="dropdown-divider"></div>#}
{#        <a class="dropdown-item" href="#nogo" aria-disabled="true">Something#}
{#            else</a>#}
    </div>
</li>

<!-- Rankings -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="rankingDropdown"
       role="button"
       data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        <i class="em em-first_place_medal" aria-role="presentation"
           aria-label="FIRST PLACE MEDAL"></i>
        Rankings
    </a>
    <div class="dropdown-menu" aria-labelledby="rankingDropdown">
        <a class="dropdown-item disabled" href="#nogo" aria-disabled="true">
            <i class="em em-bone" aria-role="presentation"
               aria-label="BONE"></i>
            PvP kills
        </a>
        <a class="dropdown-item disabled" href="#nogo" aria-disabled="true">
            <i class="em em-dagger_knife" aria-role="presentation"
               aria-label=""></i>
            Guilds
        </a>
        <a class="dropdown-item disabled" href="#nogo" aria-disabled="true">
            <i class="em em-baby_chick" aria-role="presentation"
               aria-label="BABY CHICK"></i>
            Player
        </a>
{#        <div class="dropdown-divider"></div>#}
{#        <a class="dropdown-item" href="#nogo" aria-disabled="true">Something#}
{#            else</a>#}
    </div>
</li>