{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <h3>Register for an Account</h3>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
        </div>
    </div>
    {% include 'form_template.html' %}
    <div class="row">
        <div class="col-sm-6">
            Already have an account? <a href="{% url 'login_user' %}">Click here</a> to log in.
        </div>
    </div>
{% endblock %}

