<div class="card border-0 shadow mb-4">
    <div class="card-body">
        <h5>Welcome to RagCP</h5>
        <hr class="my-2">
        <p>
            We're glad you installed RagCP.<br><br>
        <ul>
            <li>
                <b>Issues</b>:
                https://github.com/Freyja-Folkvangr/ragpycp/issues<br>
            </li>
            <li>
                <b>Discord</b>:
                https://discord.gg/2Y92RMS<br>
            </li>
        </ul>
        </p>
    </div>
</div>